body {
    background-image: url(https://get.pxhere.com/photo/text-writing-instrument-accessory-hand-writing-design-writing-implement-font-homework-child-adaptation-drawing-learning-finger-Office-instrument-student-1625637.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}