/* Estilos para el modal */


.modal1 {
    
   
    display: none;
    /*Ocultaelmodalpordefecto*/
    position: fixed;
    /*Posiciónfijaparaelmodal*/
    z-index: 1;
    /*Hacequeelmodalaparezcaporencimadetodolodemás*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*Añadescrollsielcontenidodelmodalesmuylargo*/
    background-color: rgba(0, 0, 0, 0.4);
    /*Fondonegrosemitransparenteparaelmodal*/
}

/* Estilos para el contenido del modal */

.modal-content {
    position: fixed;
    /* Cambiar la posición a fija */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Centrar el modal en el centro de la pantalla */
    background-color: #fefefe;
    margin: 0 auto;
    /* Eliminar el margen superior */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 400px;
}

.modal-content1 {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    background-color: #fefefe;
    margin: 15% auto;
    /*Centraelmodalverticalmenteylodesplazahaciaabajo*/
    padding: 20px;
    width: 30%;
    -webkit-border-radius: 15px;
    align-items: center;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Estilos para el botón de cerrar */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.btn-actualizar{
    background-color: rgb(54 167 54);
    color: white;
    cursor: pointer;
}
.btn-castigo{
    background-color: rgb(54 167 54);
    color: white;
    cursor: pointer;
}
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn btn-outline-primary {
    left: 0;
    justify-items: center;
    align-items: center;
}

.btn {
    justify-items: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.text {
    justify-items: center;
    display: flex;
    align-items: center;
    top: 20%;
}

.form-control {
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

form {
    width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input,
select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 5px;
    
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.moti{
    width: 300px;
    height: 100px;
}
.text-area{
    width: 100%;
}
