<!DOCTYPE html>
<html>
<head>
  <title>¿Olvidaste tu contraseña?</title>
  <link rel="stylesheet" href="{{ url_for('static' , filename='css/contraseña.css') }}"> 

</head>
<body>
  <div class="container">
    <div class="logo">
      <div id="logolibros" style="display: block;">
        <img src="{{url_for('static', filename='assets/img/libros.png')}}">
      </div>
        <div id="logocontraseña" style="display: none;">
        <img  src="{{url_for('static', filename='assets/img/password.png')}}">
        </div>

    </div>
    <div class="form">
      <div id="MensajeClave" style="display: none;">
      <h2>Ingresa tu nueva clave</h2>
      <p>Por favor, ingresa tu nueva clave para que puedes disfrutar de nuestro sitioweb y te diviertas</p>
      </div>
      <div id="Mensajeprimero" style="display: block;">
      <h2>Olvidaste tu contraseña</h2>
      <p>Por favor, ingresa tu dirección de correo electrónico para restablecer tu contraseña.</p>
     </div>
      <form>
        <input type="email" id="correo"  placeholder="Correo electrónico" required>
        <button type="button" type="submit" id="buscar" onclick="verificarEmail()" >Buscar Correo</button>
        <div id="campoAdicional" style="display: none;">
          <input type="text" id="verificarcodido"  placeholder="Ingresa el codigo" required>
        
          <input type="button" id="confirma" onclick="confirmacodigo()" type="submit" value="verificar codigo">
      </div>
      <div id="Nuevaclave" style="display: none;">
        <input type="password" id="clavenueva"  placeholder="Ingresa tu nueva clave" required>
      
        <input type="password" id="confrimaclave"   placeholder="Confirma clave" required>

        <input type="button"  onclick="restablecerclave()" type="submit" value="Guardar contraseña">



    </div>
      </form>
      <p id="mensaje-codigo" style="color: red; display: none;">Codigo ingresa incorresto</p>
      
      <p id="mensaje-error" style="color: red; display: none;">No hay resultados de búsqueda. Tu búsqueda no arrojó ningún resultado. Vuelve a intentarlo con otros datos.</p>
      <p>Volver a <a href="login">Iniciar sesión</a></p>
    </div>
  </div>



 
  </div> -->


  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="{{url_for('static', filename='JS/validar.js')}}"></script>

</body>
</html>